{"openapi":"3.1.0","info":{"title":"EDD","version":"1.0"},"servers":[{"url":"https://ds.clickpost.in/api/"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/v2/predicted_sla_api/":{"post":{"summary":"Fetch Expected Date of Delivery (IN)","description":"By entering the pick up and drop pin codes, the enterprises can fetch the expected date of delivery and expose the same on their website inorder to improve the customer experience.","operationId":"expected-date-of-delivery-v2","parameters":[{"name":"username","in":"query","description":"Username, unique to the enterprise profile","required":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"Unique key to verify/authenticate the enterprise profile","required":true,"schema":{"type":"string"}},{"name":"check_drop_pincode_validity","in":"query","description":"It is either true or false. If it is true then we validate the drop pincode","schema":{"type":"string","default":"false"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["RAW_BODY"],"properties":{"RAW_BODY":{"type":"string","format":"json"}}},"examples":{"payload":{"value":[{"pickup_pincode":"600040","drop_pincode":"421504"}]},"payload with optional fields":{"value":[{"pickup_pincode":"600040","drop_pincode":"421504","optional":{"cp_id":5,"awb":"ABCD12345","account_code":"Bluedart"}}]}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"SUCCESS":{"value":"{\n    \"meta\": {\n        \"status\": 200,\n        \"message\": \"SUCCESS\",\n        \"success\": true\n    },\n    \"result\": [\n        {\n            \"predicted_sla_min\": 2,\n            \"predicted_sla_max\": 5,\n            \"all_map\": {\n                \"6\": [\n                    2,\n                    3\n                ],\n                \"55\": [\n                    3,\n                    4\n                ],\n                \"3\": [\n                    4,\n                    5\n                ]\n            },\n            \"min_sla_cp_id\": 6,\n            \"pickup_date\": \"2021-06-22\"\n        }\n    ]\n}"},"Internal Server Error":{"value":"{\n    \"meta\": {\n        \"status\": 500,\n        \"message\": \"Ops! Internal server error in Clickpost\",\n        \"success\": false\n    }\n}"},"Response when carrier details are passed":{"value":"{\n    \"meta\": {\n        \"status\": 200,\n        \"success\": true,\n        \"message\": \"SUCCESS\"\n    },\n    \"result\": [\n        {\n            \"predicted_sla_min\": 1,\n            \"min_sla_cp_id\": 5,\n            \"predicted_sla_max\": 1,\n            \"all_map\": {\n                \"5\": [\n                    1,\n                    1\n                ]\n            }\n        }\n    ]\n}"}},"schema":{"oneOf":[{"title":"SUCCESS","type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"SUCCESS"},"success":{"type":"boolean","example":true,"default":true}}},"result":{"type":"array","items":{"type":"object","properties":{"predicted_sla_min":{"type":"integer","example":2,"default":0},"predicted_sla_max":{"type":"integer","example":5,"default":0},"all_map":{"type":"object","properties":{"3":{"type":"array","items":{"type":"integer","example":4,"default":0}},"6":{"type":"array","items":{"type":"integer","example":2,"default":0}},"55":{"type":"array","items":{"type":"integer","example":3,"default":0}}}},"min_sla_cp_id":{"type":"integer","example":6,"default":0},"pickup_date":{"type":"string","example":"2021-06-22"}}}}}},{"title":"Internal Server Error","type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"integer","example":500,"default":0},"message":{"type":"string","example":"Ops! Internal server error in Clickpost"},"success":{"type":"boolean","example":false,"default":true}}}}},{"title":"Response when carrier details are passed","type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"success":{"type":"boolean","example":true,"default":true},"message":{"type":"string","example":"SUCCESS"}}},"result":{"type":"array","items":{"type":"object","properties":{"predicted_sla_min":{"type":"integer","example":1,"default":0},"min_sla_cp_id":{"type":"integer","example":5,"default":0},"predicted_sla_max":{"type":"integer","example":1,"default":0},"all_map":{"type":"object","properties":{"5":{"type":"array","items":{"type":"integer","example":1,"default":0}}}}}}}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Response when customer is unauthorised":{"value":"{\n    \"meta\": {\n        \"status\": 320,\n        \"message\": \"This service is not subscribed by you\",\n        \"success\": false\n    }\n}"}},"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"integer","example":320,"default":0},"message":{"type":"string","example":"This service is not subscribed by you"},"success":{"type":"boolean","example":false,"default":true}}}}}}}}},"deprecated":false}},"/v1/global_edd/":{"post":{"summary":"Fetch Expected Date of Delivery [Global]","description":"","operationId":"international-edd-1","parameters":[{"name":"username","in":"query","description":"Username, unique to the enterprise profile","required":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"Unique key to verify/authenticate the enterprise profile","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"RAW BODY":{"type":"string","format":"json"}}},"examples":{"payload":{"value":{"pickup_details":{"city":"","state":"","pincode":"122413","country":"IN"},"drop_details":{"city":"","state":"","pincode":"328158","country":"SG"}}},"payload with optional fields":{"value":{"pickup_details":{"city":"","state":"","pincode":"122413","country":"IN"},"drop_details":{"city":"","state":"","pincode":"328158","country":"SG"},"optional":{"cp_id":5,"is_pudo":"true","awb":"ABCD12345","account_code":"ABC"}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"success":{"value":"{\n  \"meta\": {\n    \"status\": 200,\n    \"message\": \"SUCCESS\",\n    \"success\": true\n  },\n  \"result\": [\n    {\n      \"predicted_sla_min\": 5,\n      \"predicted_sla_max\": 7,\n      \n      \"min_sla_account_id\": null,\n      \"pickup_date\": null,\n      \"account_map\": [],\n      \"fallback_edd\": false,\n      \"if_combination_edd\": false,\n      \"source_edd_model\": \"Uploaded SLA\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"integer","example":200,"default":0},"message":{"type":"string","example":"SUCCESS"},"success":{"type":"boolean","example":true,"default":true}}},"result":{"type":"array","items":{"type":"object","properties":{"predicted_sla_min":{"type":"integer","example":5,"default":0},"predicted_sla_max":{"type":"integer","example":7,"default":0},"min_sla_account_id":{},"pickup_date":{},"account_map":{"type":"array","items":{"type":"object","properties":{}}},"fallback_edd":{"type":"boolean","example":false,"default":true},"if_combination_edd":{"type":"boolean","example":false,"default":true},"source_edd_model":{"type":"string","example":"Uploaded SLA"}}}}}}}}},"500":{"description":"500","content":{"application/json":{"examples":{"internal server error":{"value":"{\n    \"meta\": {\n        \"status\": 500,\n        \"message\": \"Ops! Internal server error in Clickpost\",\n        \"success\": false\n    }\n}"}},"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"integer","example":500,"default":0},"message":{"type":"string","example":"Ops! Internal server error in Clickpost"},"success":{"type":"boolean","example":false,"default":true}}}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}