{
  "openapi": "3.1.0",
  "info": {
    "title": "Clickpost",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://www.clickpost.in/api"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/v4/create-order/": {
      "post": {
        "summary": "Create Order: Rest of the World",
        "description": "This API takes the shipment details, drop information, pickup information and creates an order with specified carrier partner. This applies for shipments created and transported within North America, Europe, Middle East and South-East Asia and cross-border shipments.",
        "operationId": "order-creation-rest-of-the-world",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "Username, unique to the enterprise profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Unique key to verify/authenticate the enterprise profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "Payload of the request, containing all details of the order",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "MPS Forward": {
                  "value": {
                    "tax_info": null,
                    "drop_info": {
                      "lat": null,
                      "city": "RUH",
                      "long": null,
                      "name": "TestAccount",
                      "time": "2022-08-17T07:23:07",
                      "email": "api_uae_register@yopmail.com",
                      "phone": "520000001",
                      "state": "",
                      "address": "do not deliver, AL ANDALUS, Riyadh, SA, AL ANDALUS, ",
                      "district": "",
                      "landmark": null,
                      "phone_code": "+966",
                      "postal_code": "AL ANDALUS",
                      "address_type": "RESIDENTIAL",
                      "country_code": "SA",
                      "delivery_instructions": null
                    },
                    "additional": {
                      "return_info": {
                        "lat": 25.1414664,
                        "city": "Dubai",
                        "long": 55.255369,
                        "name": "TEST DO NOT RETURN",
                        "email": "abcd@defg.com",
                        "phone": "1234567890",
                        "state": "Dubai",
                        "address": "123, ABC St",
                        "district": "Dubai",
                        "landmark": "Near LMN Building",
                        "phone_code": "+965",
                        "postal_code": "502626",
                        "country_code": "KW"
                      },
                      "label": true,
                      "priority": "NORMAL"
                    },
                    "pickup_info": {
                      "lat": null,
                      "city": "Dubai",
                      "long": null,
                      "name": "6thstreet",
                      "time": "2022-08-17T07:23:07",
                      "email": "customercare@6thstreet.com",
                      "phone": "8003852633",
                      "state": "",
                      "address": "6thStreet DC, 6thStreet No 14 B - Al Quoz Industrial Area 4",
                      "district": "",
                      "landmark": null,
                      "phone_code": "+971",
                      "postal_code": "Al Quoz Industrial Area 4",
                      "address_type": "OFFICE",
                      "country_code": "AE",
                      "delivery_instructions": null
                    },
                    "return_info": null,
                    "shipment_details": {
                      "items": [
                        {
                          "cat": "Footwear",
                          "sku": "53813",
                          "price": 249.29,
                          "weight": 500,
                          "length": 23,
                          "breadth": 21,
                          "height": 22,
                          "hs_code": "6405.10.00",
                          "color": "Blue",
                          "brand": "Allen Solly",
                          "size": "Small",
                          "quantity": 1,
                          "description": "Tod's Blue Patent Cutout Ankle Strap Ballet Flats Size 39.5",
                          "manufacture_country": "Italy",
                          "manufacture_country_code": "IT"
                        },
                        {
                          "cat": "Footwear",
                          "sku": "575569",
                          "price": 219.29,
                          "weight": 500,
                          "length": 23,
                          "breadth": 21,
                          "height": 22,
                          "hs_code": "6405.10.00",
                          "quantity": 1,
                          "description": "Tod&#039;s Bi Color Leather Fringe Detail Monk Flats Size 36",
                          "manufacture_country": "Italy",
                          "manufacture_country_code": "IT"
                        }
                      ],
                      "height": 10,
                      "length": 10,
                      "weight": 100,
                      "breadth": 10,
                      "cod_value": 0,
                      "order_type": "PREPAID",
                      "invoice_date": "2022-08-17",
                      "currency_code": "SAR",
                      "delivery_type": "FORWARD",
                      "invoice_value": 215,
                      "invoice_number": "111",
                      "courier_partner": 296,
                      "reference_number": "Test.NaqelMPS.Order00001"
                    }
                  }
                },
                "SPS Forward": {
                  "value": {
                    "tax_info": null,
                    "drop_info": {
                      "lat": null,
                      "city": "RUH",
                      "long": null,
                      "name": "TestAccount",
                      "time": "2022-08-17T07:23:07",
                      "email": "api_uae_register@yopmail.com",
                      "phone": "520000001",
                      "state": "",
                      "address": "do not deliver, AL ANDALUS, Riyadh, SA, AL ANDALUS, ",
                      "district": "",
                      "landmark": null,
                      "phone_code": "+966",
                      "postal_code": "AL ANDALUS",
                      "address_type": null,
                      "country_code": "SA",
                      "delivery_instructions": null
                    },
                    "additional": {
                      "async": false,
                      "label": true,
                      "order_id": "400591069",
                      "order_date": "2022-08-17",
                      "vendor_code": "ADDR2481211_7720",
                      "account_code": "test.naqel",
                      "is_restricted": "N",
                      "isConsolidated": "Y",
                      "fareye_store_id": "84410",
                      "invoice_base_64": null,
                      "duty_fee_paid_by": "S",
                      "drop_city_postal_code": "riyadh_al andalus"
                    },
                    "pickup_info": {
                      "lat": null,
                      "city": "Dubai",
                      "long": null,
                      "name": "6thstreet",
                      "time": "2022-08-17T07:23:07",
                      "email": "customercare@6thstreet.com",
                      "phone": "8003852633",
                      "state": "",
                      "address": "6thStreet DC, 6thStreet No 14 B - Al Quoz Industrial Area 4",
                      "district": "",
                      "landmark": null,
                      "phone_code": "+971",
                      "postal_code": "Al Quoz Industrial Area 4",
                      "address_type": null,
                      "country_code": "AE",
                      "delivery_instructions": null
                    },
                    "return_info": null,
                    "shipment_details": {
                      "items": [
                        {
                          "cat": "Footwear",
                          "sku": "53813",
                          "price": 249.29,
                          "weight": 500,
                          "length": 23,
                          "breadth": 21,
                          "height": 22,
                          "hs_code": "6405.10.00",
                          "color": "Blue",
                          "brand": "Allen Solly",
                          "size": "Small",
                          "quantity": 1,
                          "description": "Tod's Blue Patent Cutout Ankle Strap Ballet Flats Size 39.5",
                          "manufacture_country": "Italy",
                          "manufacture_country_code": "IT"
                        }
                      ],
                      "height": 10,
                      "length": 10,
                      "weight": 100,
                      "breadth": 10,
                      "cod_value": 0,
                      "order_type": "PREPAID",
                      "invoice_date": "2022-08-17",
                      "currency_code": "SAR",
                      "delivery_type": "FORWARD",
                      "invoice_value": 215,
                      "invoice_number": "111",
                      "courier_partner": 138,
                      "reference_number": "Test.Naqel.Order00001"
                    }
                  }
                },
                "MPS Reverse": {
                  "value": {
                    "tax_info": null,
                    "drop_info": {
                      "lat": 0,
                      "city": "DXB",
                      "long": 0,
                      "name": "dsadsad sadsad",
                      "email": "newdec48@gmail.com",
                      "phone": "505656555",
                      "state": "Dubai",
                      "address": "sadsa",
                      "district": "Dubai",
                      "landmark": null,
                      "phone_code": "+965",
                      "postal_code": "12345",
                      "country_code": "KW"
                    },
                    "additional": {
                      "account_code": "test.sky.mps.rvp"
                    },
                    "pickup_info": {
                      "lat": 25.1414664,
                      "city": "DXB",
                      "long": 55.255369,
                      "name": "Tradelux General Trading LLC The Luxury Closet",
                      "time": "2022-07-01T11:52:36",
                      "email": "info@theluxurycloset.com",
                      "phone": "43955639",
                      "state": "Dubai",
                      "address": "WH 2 Street 24-B, Beside Al Khaleej Metal Coat",
                      "district": "Dubai",
                      "landmark": null,
                      "phone_code": "+971",
                      "postal_code": "502626",
                      "country_code": "AE"
                    },
                    "return_info": {
                      "lat": 25.1414664,
                      "city": "DXB",
                      "long": 55.255369,
                      "name": "Tradelux General Trading LLC The Luxury Closet",
                      "email": "info@theluxurycloset.com",
                      "phone": "43955639",
                      "state": "Dubai",
                      "address": "WH 2 Street 24-B, Beside Al Khaleej Metal Coat",
                      "district": "Dubai",
                      "landmark": null,
                      "phone_code": "+965",
                      "postal_code": "502626",
                      "country_code": "KW"
                    },
                    "shipment_details": {
                      "items": [
                        {
                          "cat": "Footwear",
                          "sku": "53813",
                          "price": 249.29,
                          "weight": 500,
                          "length": 23,
                          "breadth": 21,
                          "height": 22,
                          "hs_code": "6405.10.00",
                          "color": "Blue",
                          "brand": "Allen Solly",
                          "size": "Small",
                          "quantity": 1,
                          "description": "Tod's Blue Patent Cutout Ankle Strap Ballet Flats Size 39.5",
                          "manufacture_country": "Italy",
                          "manufacture_country_code": "IT"
                        },
                        {
                          "cat": "Footwear",
                          "sku": "575569",
                          "price": 219.29,
                          "weight": 500,
                          "length": 23,
                          "breadth": 21,
                          "height": 22,
                          "hs_code": "6405.10.00",
                          "quantity": 1,
                          "description": "Tod&#039;s Bi Color Leather Fringe Detail Monk Flats Size 36",
                          "manufacture_country": "Italy",
                          "manufacture_country_code": "IT"
                        }
                      ],
                      "height": 13,
                      "length": 23,
                      "weight": "1000",
                      "breadth": 31,
                      "order_id": "Test.UPS.Order0002",
                      "cod_value": 50,
                      "order_type": "COD",
                      "invoice_date": "2022-06-21",
                      "currency_code": "USD",
                      "delivery_type": "RVP",
                      "invoice_value": 468.58,
                      "invoice_number": "TLC-2022-06-WS-00038",
                      "courier_partner": "312",
                      "rvp_reason": "Cancelled",
                      "reference_number": "Test.SKYEXMPSRVP.Order00001"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "For SPS Shipments": {
                    "value": "{\n    \"result\": {\n        \"commercial_invoice_url\": \"https://pyck-res-bucket.s3.amazonaws.com:443/NAQEL/INVOICE_DATA/2022-10-20/254592457.pdf\",\n        \"waybill\": \"254592457\",\n        \"reference_number\": \"Test.Naqel.Order00001\",\n        \"label\": \"https://pyck-res-bucket.s3.amazonaws.com:443/NAQEL/2022-10-20/254592457.pdf\",\n        \"courier_partner_id\": 138,\n        \"courier_name\": \"Naqel\",\n        \"sort_code\": null,\n        \"order_id\": 146953360,\n        \"security_key\": \"0a7d7f74-7335-46b1-9bca-a3cfda345789\",\n        \"tracking_id\": 486721411\n    },\n    \"meta\": {\n        \"status\": 200,\n        \"success\": true,\n        \"message\": \"Order Placed Successfully\"\n    }\n}"
                  },
                  "For MPS Shipments": {
                    "value": "{\n    \"result\": {\n        \"commercial_invoice_url\": \"https://pyck-res-bucket.s3.amazonaws.com:443/NAQEL_MPS/INVOICE_DATA/2022-10-20/254592456.pdf\",\n        \"waybill\": \"254592456\",\n        \"reference_number\": \"Test.NaqelMPS.Order00001\",\n        \"label\": \"https://pyck-res-bucket.s3.amazonaws.com:443/NAQEL_MPS/2022-10-20/254592456.pdf\",\n        \"children\": [\n            {\n                \"item\": {\n                    \"sku\": \"191448139091\",\n                    \"price\": 215.0,\n                    \"hsn_code\": \"\",\n                    \"quantity\": 1,\n                    \"description\": \"Bayaband Clogs - White\",\n                    \"waybill\": \"25459245600001\"\n                },\n                \"waybill\": \"25459245600001\",\n                \"reference_number\": \"Test.NaqelMPS.Order00001\",\n                \"label\": null\n            },\n            {\n                \"item\": {\n                    \"sku\": \"191448139091\",\n                    \"price\": 215.0,\n                    \"hsn_code\": \"\",\n                    \"quantity\": 1,\n                    \"description\": \"Bayaband Clogs - White\",\n                    \"waybill\": \"25459245600002\"\n                },\n                \"waybill\": \"25459245600002\",\n                \"reference_number\": \"Test.NaqelMPS.Order00001\",\n                \"label\": null\n            }\n        ],\n        \"courier_partner_id\": 296,\n        \"courier_name\": \"Naqel\",\n        \"sort_code\": null,\n        \"order_id\": 146952320,\n        \"security_key\": \"c27aff93-fdb3-4f1d-86a6-5064cb238c07\",\n        \"tracking_id\": 486712255\n    },\n    \"meta\": {\n        \"status\": 200,\n        \"success\": true,\n        \"message\": \"Order Placed Successfully\"\n    }\n}"
                  },
                  "For already placed MPS order": {
                    "value": "{\n    \"meta\": {\n        \"status\": 323,\n        \"success\": true,\n        \"message\": \"You have already placed this order\"\n    },\n    \"result\": {\n        \"label\": \"https://pyck-res-bucket.s3.amazonaws.com:443/SHIPSY_MPS/2022-10-19/BFLTEST009.pdf\",\n        \"waybill\": \"TEST009\",\n        \"reference_number\": \"TEST-SHIP-191022-01\",\n        \"security_key\": \"13adcf20-b96c-4fd8-941c-b6ceb2f1340\",\n        \"sort_code\": null,\n        \"courier_name\": \"SHIPSY_MPS\",\n        \"courier_partner_id\": 318,\n        \"order_id\": 146588231,\n        \"children\": [\n            {\n                \"waybill\": null,\n                \"item\": {\n                    \"waybill\": null,\n                    \"description\": \"Kids Girls Checkered Coat, Red Combo\",\n                    \"quantity\": 1,\n                    \"sku\": \"40060839234804\",\n                    \"price\": 23.0,\n                    \"product_url\": \"https://b.reebffffdn.com/products/21/1/127998.JPG\",\n                    \"images\": \"https://b.bewfefwfdn.com/products/21/1/127998.JPG\"\n                }\n            }\n        ],\n        \"tracking_id\": 484874777\n    }\n}"
                  },
                  "For already placed SPS order": {
                    "value": "{\n    \"meta\": {\n        \"status\": 323,\n        \"success\": true,\n        \"message\": \"You have already placed this order\"\n    },\n    \"result\": {\n        \"label\": \"https://pyck-res-bucket.s3.amazonaws.com:443/NAQEL/2022-10-20/254592457.pdf\",\n        \"waybill\": \"254592457\",\n        \"reference_number\": \"Test.Naqel.Order00001\",\n        \"security_key\": \"0a7d7f74-7335-46b1-9bca-a3cfda345789\",\n        \"sort_code\": null,\n        \"courier_name\": \"NAQEL\",\n        \"courier_partner_id\": 138,\n        \"order_id\": 146953360,\n        \"tracking_id\": 486721411\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "For SPS Shipments",
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "commercial_invoice_url": {
                              "type": "string",
                              "example": "https://pyck-res-bucket.s3.amazonaws.com:443/NAQEL/INVOICE_DATA/2022-10-20/254592457.pdf"
                            },
                            "waybill": {
                              "type": "string",
                              "example": "254592457"
                            },
                            "reference_number": {
                              "type": "string",
                              "example": "Test.Naqel.Order00001"
                            },
                            "label": {
                              "type": "string",
                              "example": "https://pyck-res-bucket.s3.amazonaws.com:443/NAQEL/2022-10-20/254592457.pdf"
                            },
                            "courier_partner_id": {
                              "type": "integer",
                              "example": 138,
                              "default": 0
                            },
                            "courier_name": {
                              "type": "string",
                              "example": "Naqel"
                            },
                            "sort_code": {},
                            "order_id": {
                              "type": "integer",
                              "example": 146953360,
                              "default": 0
                            },
                            "security_key": {
                              "type": "string",
                              "example": "0a7d7f74-7335-46b1-9bca-a3cfda345789"
                            },
                            "tracking_id": {
                              "type": "integer",
                              "example": 486721411,
                              "default": 0
                            }
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 200,
                              "default": 0
                            },
                            "success": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "message": {
                              "type": "string",
                              "example": "Order Placed Successfully"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "For MPS Shipments",
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "commercial_invoice_url": {
                              "type": "string",
                              "example": "https://pyck-res-bucket.s3.amazonaws.com:443/NAQEL_MPS/INVOICE_DATA/2022-10-20/254592456.pdf"
                            },
                            "waybill": {
                              "type": "string",
                              "example": "254592456"
                            },
                            "reference_number": {
                              "type": "string",
                              "example": "Test.NaqelMPS.Order00001"
                            },
                            "label": {
                              "type": "string",
                              "example": "https://pyck-res-bucket.s3.amazonaws.com:443/NAQEL_MPS/2022-10-20/254592456.pdf"
                            },
                            "children": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "item": {
                                    "type": "object",
                                    "properties": {
                                      "sku": {
                                        "type": "string",
                                        "example": "191448139091"
                                      },
                                      "price": {
                                        "type": "integer",
                                        "example": 215,
                                        "default": 0
                                      },
                                      "hsn_code": {
                                        "type": "string",
                                        "example": ""
                                      },
                                      "quantity": {
                                        "type": "integer",
                                        "example": 1,
                                        "default": 0
                                      },
                                      "description": {
                                        "type": "string",
                                        "example": "Bayaband Clogs - White"
                                      },
                                      "waybill": {
                                        "type": "string",
                                        "example": "25459245600001"
                                      }
                                    }
                                  },
                                  "waybill": {
                                    "type": "string",
                                    "example": "25459245600001"
                                  },
                                  "reference_number": {
                                    "type": "string",
                                    "example": "Test.NaqelMPS.Order00001"
                                  },
                                  "label": {}
                                }
                              }
                            },
                            "courier_partner_id": {
                              "type": "integer",
                              "example": 296,
                              "default": 0
                            },
                            "courier_name": {
                              "type": "string",
                              "example": "Naqel"
                            },
                            "sort_code": {},
                            "order_id": {
                              "type": "integer",
                              "example": 146952320,
                              "default": 0
                            },
                            "security_key": {
                              "type": "string",
                              "example": "c27aff93-fdb3-4f1d-86a6-5064cb238c07"
                            },
                            "tracking_id": {
                              "type": "integer",
                              "example": 486712255,
                              "default": 0
                            }
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 200,
                              "default": 0
                            },
                            "success": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "message": {
                              "type": "string",
                              "example": "Order Placed Successfully"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "For already placed MPS order",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 323,
                              "default": 0
                            },
                            "success": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "message": {
                              "type": "string",
                              "example": "You have already placed this order"
                            }
                          }
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "example": "https://pyck-res-bucket.s3.amazonaws.com:443/NAQEL_MPS/2022-10-20/254592456.pdf"
                            },
                            "waybill": {
                              "type": "string",
                              "example": "254592456"
                            },
                            "reference_number": {
                              "type": "string",
                              "example": "Test.NaqelMPS.Order00001"
                            },
                            "security_key": {
                              "type": "string",
                              "example": "c27aff93-fdb3-4f1d-86a6-5064cb238c07"
                            },
                            "sort_code": {},
                            "courier_name": {
                              "type": "string",
                              "example": "NAQEL_MPS"
                            },
                            "courier_partner_id": {
                              "type": "integer",
                              "example": 296,
                              "default": 0
                            },
                            "order_id": {
                              "type": "integer",
                              "example": 146952320,
                              "default": 0
                            },
                            "children": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "waybill": {
                                    "type": "string",
                                    "example": "25459245600002"
                                  },
                                  "description": {
                                    "type": "string",
                                    "example": "Bayaband Clogs - White"
                                  },
                                  "sku": {
                                    "type": "string",
                                    "example": "191448139091"
                                  }
                                }
                              }
                            },
                            "tracking_id": {
                              "type": "integer",
                              "example": 486712255,
                              "default": 0
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "For already placed SPS order",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 323,
                              "default": 0
                            },
                            "success": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "message": {
                              "type": "string",
                              "example": "You have already placed this order"
                            }
                          }
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "example": "https://pyck-res-bucket.s3.amazonaws.com:443/NAQEL/2022-10-20/254592457.pdf"
                            },
                            "waybill": {
                              "type": "string",
                              "example": "254592457"
                            },
                            "reference_number": {
                              "type": "string",
                              "example": "Test.Naqel.Order00001"
                            },
                            "security_key": {
                              "type": "string",
                              "example": "0a7d7f74-7335-46b1-9bca-a3cfda345789"
                            },
                            "sort_code": {},
                            "courier_name": {
                              "type": "string",
                              "example": "NAQEL"
                            },
                            "courier_partner_id": {
                              "type": "integer",
                              "example": 138,
                              "default": 0
                            },
                            "order_id": {
                              "type": "integer",
                              "example": 146953360,
                              "default": 0
                            },
                            "tracking_id": {
                              "type": "integer",
                              "example": 486721411,
                              "default": 0
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "For already placed MPS order",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 323,
                              "default": 0
                            },
                            "success": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "message": {
                              "type": "string",
                              "example": "You have already placed this order"
                            }
                          }
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "example": "https://pyck-res-bucket.s3.amazonaws.com:443/SHIPSY_MPS/2022-10-19/BFLTEST009.pdf"
                            },
                            "waybill": {
                              "type": "string",
                              "example": "TEST009"
                            },
                            "reference_number": {
                              "type": "string",
                              "example": "TEST-SHIP-191022-01"
                            },
                            "security_key": {
                              "type": "string",
                              "example": "13adcf20-b96c-4fd8-941c-b6ceb2f1340"
                            },
                            "sort_code": {},
                            "courier_name": {
                              "type": "string",
                              "example": "SHIPSY_MPS"
                            },
                            "courier_partner_id": {
                              "type": "integer",
                              "example": 318,
                              "default": 0
                            },
                            "order_id": {
                              "type": "integer",
                              "example": 146588231,
                              "default": 0
                            },
                            "children": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "waybill": {},
                                  "item": {
                                    "type": "object",
                                    "properties": {
                                      "waybill": {},
                                      "description": {
                                        "type": "string",
                                        "example": "Kids Girls Checkered Coat, Red Combo"
                                      },
                                      "quantity": {
                                        "type": "integer",
                                        "example": 1,
                                        "default": 0
                                      },
                                      "sku": {
                                        "type": "string",
                                        "example": "40060839234804"
                                      },
                                      "price": {
                                        "type": "integer",
                                        "example": 23,
                                        "default": 0
                                      },
                                      "product_url": {
                                        "type": "string",
                                        "example": "https://b.reebffffdn.com/products/21/1/127998.JPG"
                                      },
                                      "images": {
                                        "type": "string",
                                        "example": "https://b.bewfefwfdn.com/products/21/1/127998.JPG"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "tracking_id": {
                              "type": "integer",
                              "example": 484874777,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Error Result": {
                    "value": "{\n    \"meta\": {\n        \"status\": 400,\n        \"message\": \"Some Error Message\",\n        \"success\": false\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "integer",
                          "example": 400,
                          "default": 0
                        },
                        "message": {
                          "type": "string",
                          "example": "Some Error Message"
                        },
                        "success": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Fetch Order Details: Rest of the World",
        "description": "Given an AWB and a carrier partner ID, fetch details of a shipment placed with that AWB. Works for shipments created and transported within North America, Europe, Middle East and South-East Asia and all cross-border shipments. Especially useful when an async order is placed with the V4 API.",
        "operationId": "get-order-details-for-v4-api-1",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "Username of the customer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Unique license key provided by Clickpost for the enterprise, used for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "awb",
            "in": "query",
            "description": "AWB of the order to receive details for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cp_id",
            "in": "query",
            "description": "Partner ID of the courier responsible for delivering the shipment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "SPS Response": {
                    "value": "{\n    \"result\": {\n        \"waybill\": \"SKY0000006574\",\n        \"reference_number\": \"Test.SKYEXRVP.Order00002\",\n        \"label\": \"https://pyck-res-bucket.s3.amazonaws.com:443/SKYEXPRESS_RVP/2022-10-21/SKY0000006574.pdf\",\n        \"courier_partner_id\": 325,\n        \"courier_name\": \"SkyExpress\",\n        \"sort_code\": null,\n        \"order_id\": 147175531,\n        \"security_key\": \"4d36d09c-53b3-49f3-beb3-4eb8f884f941\",\n        \"tracking_id\": 487501569\n    },\n    \"meta\": {\n        \"status\": 200,\n        \"success\": true,\n        \"message\": \"Order Placed Successfully\"\n    }\n}"
                  },
                  "MPS Response": {
                    "value": "{\n    \"result\": {\n        \"reference_number\": \"TestSolv00002\",\n        \"label\": \"https://pyck-res-bucket.s3.amazonaws.com:443/BLUEDART/2022-10-25/53433518935.pdf\",\n        \"waybill\": \"53433518935\",\n        \"children\": [\n            {\n                \"waybill\": \"53433518935-0001\",\n                \"item\": {\n                    \"sku\": \"XYZ1\",\n                    \"price\": 200.0,\n                    \"images\": \"http://sample-file1.jpg,http://sample-file2.jpg\",\n                    \"quantity\": 13,\n                    \"description\": \"Cartoon Box 1\",\n                    \"product_url\": \"<Product Page Url>\",\n                    \"waybill\": \"53433518935-0001\"\n                }\n            },\n            {\n                \"waybill\": \"53433518935-0002\",\n                \"item\": {\n                    \"sku\": \"XYZ2\",\n                    \"price\": 200.0,\n                    \"images\": \"http://sample-file1.jpg,http://sample-file2.jpg\",\n                    \"quantity\": 17,\n                    \"description\": \"Cartoon Box 1\",\n                    \"product_url\": \"<Product Page Url>\",\n                    \"waybill\": \"53433518935-0002\"\n                }\n            }\n        ],\n        \"courier_partner_id\": 000,\n        \"courier_name\": \"Some International Courier\",\n        \"sort_code\": \"COK/KOO\",\n        \"order_id\": \"Order-123456\",\n        \"security_key\": \"3ee64ff7-be52-4e31-9ec5-21cf194cab03\"\n    },\n    \"meta\": {\n        \"status\": 200,\n        \"success\": true,\n        \"message\": \"Order Placed Successfully\"\n    },\n    \"order_id\": 147885236,\n    \"tracking_id\": 491322827\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "waybill": {
                          "type": "string",
                          "example": "SKY0000006574"
                        },
                        "reference_number": {
                          "type": "string",
                          "example": "Test.SKYEXRVP.Order00002"
                        },
                        "label": {
                          "type": "string",
                          "example": "https://pyck-res-bucket.s3.amazonaws.com:443/SKYEXPRESS_RVP/2022-10-21/SKY0000006574.pdf"
                        },
                        "courier_partner_id": {
                          "type": "integer",
                          "example": 325,
                          "default": 0
                        },
                        "courier_name": {
                          "type": "string",
                          "example": "SkyExpress"
                        },
                        "sort_code": {},
                        "order_id": {
                          "type": "integer",
                          "example": 147175531,
                          "default": 0
                        },
                        "security_key": {
                          "type": "string",
                          "example": "4d36d09c-53b3-49f3-beb3-4eb8f884f941"
                        },
                        "tracking_id": {
                          "type": "integer",
                          "example": 487501569,
                          "default": 0
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "integer",
                          "example": 200,
                          "default": 0
                        },
                        "success": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "message": {
                          "type": "string",
                          "example": "Order Placed Successfully"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/tracking/awb-register/": {
      "post": {
        "summary": "Register shipment for tracking: V2",
        "description": "Register an AWB for tracking updates with Clickpost, given the AWB number, carrier partner ID, shipment information, pick-up and drop information, and additional details as input.",
        "operationId": "awb-registration-1",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Key that was provided by Clickpost",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "Enter the request body"
                  }
                }
              },
              "examples": {
                "AWB Registration Payload": {
                  "value": {
                    "waybill": "ABCDRESDEFGHIJKL1257679",
                    "cp_id": 1,
                    "key": "42d42a34-ae09-4693-b20c-ae2624218a329",
                    "account_code": "Fedex Domestic",
                    "consumer_details": {
                      "name": "Test Customer",
                      "phone": "8080808080",
                      "email": "test@clickpost.in"
                    },
                    "shipment_info": {
                      "item": "Shirt",
                      "order_type": "COD",
                      "invoice_value": 1000,
                      "reference_number": "123XYZ",
                      "length": 10,
                      "height": 10,
                      "weight": 10,
                      "breadth": 10,
                      "drop_pincode": "110001",
                      "pickup_pincode": "110001",
                      "delivery_type": "FORWARD",
                      "cod_amount": 1000.1,
                      "drop_address": "Roots hacker Home, R 28, Second Floor, Nehru Enclace, Opposite Nehru Place, New Delhi 110001",
                      "additional": {
                        "items": [
                          {
                            "sku": "XYZ1",
                            "description": "item1",
                            "quantity": 1,
                            "price": 200,
                            "images": "<Image URL>",
                            "return_days": 2,
                            "additional": {
                              "length": 10,
                              "height": 10,
                              "breadth": 10,
                              "weight": 100
                            }
                          }
                        ]
                      }
                    },
                    "additional": {
                      "order_date": "2017-02-14T18:00:00+05:30",
                      "ship_date": "2017-02-14T23:00:00+05:30",
                      "min_edd": 2,
                      "max_edd": 4,
                      "enable_whatsapp": false,
                      "order_id": "ORDER-12"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Newly Registered AWB": {
                    "value": "{\n    \"meta\": {\n        \"status\": 200,\n        \"message\": \"Success\",\n        \"success\": true\n    },\n    \"result\": {\n        \"tracking_id\": 491815220,\n        \"security_key\": \"c53b0171-9c6f-4045-92f8-03cadb5bc34f\"\n    }\n}"
                  },
                  "Inactive/Non-existent Account or Courier Partner ID": {
                    "value": "  {\n      \"meta\": {\n          \"status\": 353,\n          \"message\": \"Clickpost Account: Inactive\",\n          \"success\": false\n      }\n  }"
                  },
                  "Authentication Failed": {
                    "value": "{\n    \"meta\": {\n        \"status\": 500,\n        \"message\": \"Ops! Internal server error in Clickpost\",\n        \"success\": false\n    }\n}"
                  },
                  "Already Registered AWB": {
                    "value": "{\n    \"meta\": {\n        \"status\": 303,\n        \"message\": \"Waybill already registered\",\n        \"success\": false\n    },\n    \"result\": {\n        \"tracking_id\": 491815220,\n        \"security_key\": \"c53b0171-9c6f-4045-92f8-03cadb5bc34f\"\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Newly Registered AWB",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 200,
                              "default": 0
                            },
                            "message": {
                              "type": "string",
                              "example": "Success"
                            },
                            "success": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            }
                          }
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "tracking_id": {
                              "type": "integer",
                              "example": 491815220,
                              "default": 0
                            },
                            "security_key": {
                              "type": "string",
                              "example": "c53b0171-9c6f-4045-92f8-03cadb5bc34f"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Inactive/Non-existent Account or Courier Partner ID",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 353,
                              "default": 0
                            },
                            "message": {
                              "type": "string",
                              "example": "Clickpost Account: Inactive"
                            },
                            "success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Authentication Failed",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 500,
                              "default": 0
                            },
                            "message": {
                              "type": "string",
                              "example": "Ops! Internal server error in Clickpost"
                            },
                            "success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Already Registered AWB",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 303,
                              "default": 0
                            },
                            "message": {
                              "type": "string",
                              "example": "Waybill already registered"
                            },
                            "success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "tracking_id": {
                              "type": "integer",
                              "example": 491815220,
                              "default": 0
                            },
                            "security_key": {
                              "type": "string",
                              "example": "c53b0171-9c6f-4045-92f8-03cadb5bc34f"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/cancel-order/": {
      "get": {
        "summary": "Cancellation",
        "description": "Cancellation API allows you to cancel the shipment in the carrier partner's system",
        "operationId": "cancellation-1",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "The username of the Clickpost dashboard",
            "required": true,
            "schema": {
              "type": "string",
              "default": "<username>"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key given to enterprise by the Clickpost team",
            "required": true,
            "schema": {
              "type": "string",
              "default": "<api_key>"
            }
          },
          {
            "name": "waybill",
            "in": "query",
            "description": "Air Waybill of the order",
            "required": true,
            "schema": {
              "type": "string",
              "default": "<awb_number>"
            }
          },
          {
            "name": "cp_id",
            "in": "query",
            "description": "Carrier Partner ID of the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": null
            }
          },
          {
            "name": "account_code",
            "in": "query",
            "description": "Courier partner account name configured on the Clickpost dashboard",
            "required": true,
            "schema": {
              "type": "string",
              "default": "<account_code>"
            }
          },
          {
            "name": "manually_update_status",
            "in": "query",
            "description": "If the value of this field is \"True\" then Clickpost will update the tracking status of AWB to \"Cancelled\" manually once a successful response is received from the courier partner.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": "{\n    \"meta\": {\n        \"message\": \"SUCCESS\",\n        \"success\": true,\n        \"status\": 600\n    }\n}"
                  },
                  "Order Already Cancelled": {
                    "value": "{\n    \"meta\": {\n        \"message\": \"ORDER ALREADY CANCELLED\",\n        \"success\": true,\n        \"status\": 600\n    }\n}"
                  },
                  "Account does not exist/Invalid carrier partner": {
                    "value": "{\n    \"meta\": {\n        \"status\": 351,\n        \"message\": \"Clickpost Account: Does not exist\",\n        \"success\": false\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "example": "SUCCESS"
                            },
                            "success": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "status": {
                              "type": "integer",
                              "example": 600,
                              "default": 0
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Order Already Cancelled",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "example": "ORDER ALREADY CANCELLED"
                            },
                            "success": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "status": {
                              "type": "integer",
                              "example": 600,
                              "default": 0
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Account does not exist/Invalid carrier partner",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 351,
                              "default": 0
                            },
                            "message": {
                              "type": "string",
                              "example": "Clickpost Account: Does not exist"
                            },
                            "success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Invalid/Non-existent Waybill": {
                    "value": "{\n    \"meta\": {\n        \"message\": \"Invalid Waybill/ Waybill cannot be cancelled\",\n        \"success\": false,\n        \"status\": 350\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Invalid Waybill/ Waybill cannot be cancelled"
                        },
                        "success": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "status": {
                          "type": "integer",
                          "example": 350,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/ndr_user_feedback/": {
      "get": {
        "summary": "Customer Feedback",
        "description": "This API enables customers to retrieve feedback from end-users in case of failure of delivery of any shipment. Users can update their preferred location of delivery at Clickpost Tracking Page, and those changes are retrieved by this API.",
        "operationId": "customer-feedback",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "The username of the clickpost dashboard",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API key given to enterprise by the clickpost onboarding team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Epoch time (in secs) of start of the period in which the feedbacks were provided",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Epoch time (in secs) of end of the period in which the feedbacks were provided",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"result\": [\n        {\n            \"type\": \"CUSTOMER_FEED\",\n            \"awb\": \"2667237490164\",\n            \"address\": \"ABCD Street\",\n            \"landmark\": \"Pokaran\",\n            \"drop_pincode\": null,\n            \"preferred_date\": \"2022-10-27\",\n            \"preferred_time\": null,\n            \"phone\": null,\n            \"comment\": null,\n            \"created_at\": \"2022-10-26T07:17:56.416547Z\",\n            \"clickpost_status_code\": 9,\n            \"api_data_push\": null,\n            \"clickpost_status_description\": \"Delivery Failed\",\n            \"is_rejected\": null,\n            \"reference_number\": \"2258300\",\n            \"additional\": {\n                \"internal_username\": null,\n                \"internal_cst_responded\": null,\n                \"internal_comment\": null\n            }\n        },\n        {\n            \"type\": \"CUSTOMER_FEED\",\n            \"awb\": \"SF170753932PUM\",\n            \"address\": null,\n            \"landmark\": null,\n            \"drop_pincode\": null,\n            \"preferred_date\": \"2022-10-27\",\n            \"preferred_time\": null,\n            \"phone\": null,\n            \"comment\": \"Please deliver the order \",\n            \"created_at\": \"2022-10-26T07:32:49.252240Z\",\n            \"clickpost_status_code\": 9,\n            \"api_data_push\": null,\n            \"clickpost_status_description\": \"Delivery Failed\",\n            \"is_rejected\": false,\n            \"reference_number\": \"2255113\",\n            \"additional\": {\n                \"internal_username\": null,\n                \"internal_cst_responded\": null,\n                \"internal_comment\": null\n            }\n        },\n        {\n            \"type\": \"CLIENT_OPS_FEED\",\n            \"awb\": \"14406222104411\",\n            \"address\": null,\n            \"landmark\": null,\n            \"drop_pincode\": null,\n            \"preferred_date\": \"2022-10-27\",\n            \"preferred_time\": null,\n            \"phone\": null,\n            \"comment\": null,\n            \"created_at\": \"2022-10-26T07:16:10.938830Z\",\n            \"clickpost_status_code\": 9,\n            \"api_data_push\": true,\n            \"clickpost_status_description\": \"Delivery Failed\",\n            \"is_rejected\": null,\n            \"reference_number\": \"2171425\",\n            \"additional\": {\n                \"internal_username\": \"puma\",\n                \"internal_cst_responded\": false,\n                \"internal_comment\": \"re-attempt\\n\"\n            }\n        }\n    ],\n    \"meta\": {\n        \"meta\": {\n            \"status\": 200,\n            \"message\": \"Success\",\n            \"success\": true\n        }\n    }\n}"
                  },
                  "End Date and Start Date diff too large": {
                    "value": "{\n    \"meta\": {\n        \"status\": 500,\n        \"message\": \"(end_date-start_date) diff can not be more than 3600 seconds\",\n        \"success\": false\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "CUSTOMER_FEED"
                              },
                              "awb": {
                                "type": "string",
                                "example": "2667237490164"
                              },
                              "address": {
                                "type": "string",
                                "example": "ABCD Street"
                              },
                              "landmark": {
                                "type": "string",
                                "example": "Pokaran"
                              },
                              "drop_pincode": {},
                              "preferred_date": {
                                "type": "string",
                                "example": "2022-10-27"
                              },
                              "preferred_time": {},
                              "phone": {},
                              "comment": {},
                              "created_at": {
                                "type": "string",
                                "example": "2022-10-26T07:17:56.416547Z"
                              },
                              "clickpost_status_code": {
                                "type": "integer",
                                "example": 9,
                                "default": 0
                              },
                              "api_data_push": {},
                              "clickpost_status_description": {
                                "type": "string",
                                "example": "Delivery Failed"
                              },
                              "is_rejected": {},
                              "reference_number": {
                                "type": "string",
                                "example": "2258300"
                              },
                              "additional": {
                                "type": "object",
                                "properties": {
                                  "internal_username": {},
                                  "internal_cst_responded": {},
                                  "internal_comment": {}
                                }
                              }
                            }
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "meta": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "integer",
                                  "example": 200,
                                  "default": 0
                                },
                                "message": {
                                  "type": "string",
                                  "example": "Success"
                                },
                                "success": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "End Date and Start Date diff too large",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 500,
                              "default": 0
                            },
                            "message": {
                              "type": "string",
                              "example": "(end_date-start_date) diff can not be more than 3600 seconds"
                            },
                            "success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/ndr-update-api": {
      "post": {
        "summary": "NDR Action Update",
        "description": "This API instructs the courier company to take action on an AWB. Using this API, enterprises can Reattempt the shipment with the updated address, preferred delivery date, and phone number. Enterprises can also Initiate a Return to Origin",
        "operationId": "ndr-action-update-api-v2",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "Enter the username of the Clickpost dashboard",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Enter the API key given to you by the Clickpost team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "Enter the request body",
                    "default": "{     \"action\": \"INITIATE_RTO / REATTEMPT\",     \"waybill\": \"4152912745934\",     \"cp_id\": 4,     \"account_code\": \"Delhivery-Express\",      \"address\":\"Updated Address details\",     \"landmark\": \"Updated Address landmark if any\",     \"drop_pincode\": \"Updated pincode\",     \"phone_number\":\"8080808080\",     \"preferred_date\": \"2022-05-13\" }",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "NDR Update": {
                  "value": {
                    "action": "INITIATE_RTO / REATTEMPT",
                    "waybill": "4152912745934",
                    "cp_id": 4,
                    "account_code": "Delhivery-Express",
                    "address": "Updated Address details",
                    "landmark": "Updated Address landmark if any",
                    "drop_pincode": "Updated pincode",
                    "phone_number": "8080808080",
                    "preferred_date": "2022-05-13"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Success": {
                    "value": "{\n    \"meta\": {\n        \"message\": \"SUCCESS\",\n        \"success\": true,\n        \"status\": 200\n    }\n}"
                  },
                  "Authentication Failed": {
                    "value": "{\n    \"meta\": {\n        \"status\": 301,\n        \"message\": \"Authentication Failed: Invalid Token or API Key\",\n        \"success\": false\n    }\n}"
                  },
                  "Result": {
                    "value": "{\n    \"meta\": {\n        \"status\": 400,\n        \"message\": \"Bad Request , Invalid Action\",\n        \"success\": false\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "example": "SUCCESS"
                            },
                            "success": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "status": {
                              "type": "integer",
                              "example": 200,
                              "default": 0
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Authentication Failed",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 301,
                              "default": 0
                            },
                            "message": {
                              "type": "string",
                              "example": "Authentication Failed: Invalid Token or API Key"
                            },
                            "success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 400,
                              "default": 0
                            },
                            "message": {
                              "type": "string",
                              "example": "Bad Request , Invalid Action"
                            },
                            "success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/create-pickup/": {
      "post": {
        "summary": "Pickup Request: India",
        "description": "Given all pickup and carrier partner details, create a new pickup request for select carriers. Applicable for shipments created and transported within India only.",
        "operationId": "pickup-request-api-1",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "License key for the registered user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"meta\": {\n        \"message\": \"SUCCESS\",\n        \"success\": true,\n        \"status\": 200\n    },\n    \"result\": {\n        \"location\": \"DELKL\",\n        \"confirmation_number\": \"6\"\n    }\n}"
                  },
                  "Error": {
                    "value": "{\n    \"meta\": {\n        \"status\": 400,\n        \"message\": \"Error message\",\n        \"success\": false\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "example": "SUCCESS"
                            },
                            "success": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "status": {
                              "type": "integer",
                              "example": 200,
                              "default": 0
                            }
                          }
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "location": {
                              "type": "string",
                              "example": "DELKL"
                            },
                            "confirmation_number": {
                              "type": "string",
                              "example": "6"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Error",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 400,
                              "default": 0
                            },
                            "message": {
                              "type": "string",
                              "example": "Error message"
                            },
                            "success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {},
              "examples": {
                "Sample Request": {
                  "value": {
                    "items": "1 package(s), 500 grams",
                    "pickup_city": "Surat",
                    "pickup_date": "2022-12-08T14:00:00+05:30",
                    "pickup_name": "ABCD",
                    "account_code": "test_account",
                    "pickup_email": "abcd@def.com",
                    "pickup_phone": "1234567890",
                    "pickup_state": "GUJARAT",
                    "pickup_address": "123, ABC Street",
                    "pickup_country": "IN",
                    "pickup_pincode": "123456",
                    "courier_partner": 4
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/tracking/awb-register/": {
      "post": {
        "summary": "Register shipment for tracking: V3 (Recommended)",
        "description": "Register an AWB for tracking updates with Clickpost, given the AWB number, carrier partner ID, shipment information, pick-up and drop information, and additional details as input.",
        "operationId": "register-a-shipment-for-tracking-in-1",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Enter the API key given to you by the clickpost onboarding team",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "Enter the request body",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "AWB Registration Payload": {
                  "value": {
                    "waybill": "ABCDEFGHIJKL0004",
                    "courier_partner": 246,
                    "account_code": "test.skip.mps.rvp",
                    "consumer_details": {
                      "name": "ABCD",
                      "email": "xyz@a.com",
                      "phone": "9876543201"
                    },
                    "shipment_info": {
                      "order_type": "COD",
                      "invoice_value": "12345",
                      "cod_amount": "1000",
                      "reference_number": "123XYZ",
                      "order_id": "order_id of the shipment",
                      "length": 10,
                      "height": 10,
                      "weight": 10,
                      "breadth": 10,
                      "items": [
                        {
                          "sku": "XYZ1",
                          "description": "item1",
                          "quantity": 1,
                          "price": 200,
                          "images": "<Image URL>",
                          "return_days": 2,
                          "length": 10,
                          "height": 10,
                          "breadth": 10,
                          "weight": 100,
                          "product_url": "https://product.com/product1",
                          "exchange_days": 5,
                          "cat": "Footwear",
                          "manufacture_country": "India",
                          "manufacture_country_code": "IN"
                        }
                      ]
                    },
                    "pickup_info": {
                      "name": "DEFG",
                      "email": "defg@aaa.com",
                      "phone_code": "966",
                      "phone": "1234567890",
                      "address": "Some Address",
                      "pincode": "100001",
                      "city": "DELHI",
                      "district": "XYZ",
                      "state": "DELHI",
                      "lat": 10.01,
                      "long": 10.2,
                      "time": "2022-10-21T11:02:22"
                    },
                    "drop_info": {
                      "name": "ABCD",
                      "email": "abcd@def.com",
                      "phone_code": "966",
                      "phone": "9876443210",
                      "address": "ABCD TOWERS",
                      "pincode": "400001",
                      "city": "THANE",
                      "district": "XYZ",
                      "state": "MAHARASHTRA",
                      "lat": 10.01,
                      "long": 10.01,
                      "time": "2022-10-22T11:02:22"
                    },
                    "additional": {
                      "enable_whatsapp": false,
                      "order_date": "2017-02-14",
                      "ship_date": "2017-02-14",
                      "min_edd": 2,
                      "max_edd": 4,
                      "language_code": "eng"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Newly Registered AWB": {
                    "value": "{\n    \"meta\": {\n        \"status\": 200,\n        \"message\": \"SUCCESS\",\n        \"success\": true\n    },\n    \"result\": {\n        \"consumer_details\": {\n            \"id\": 475565855\n        },\n        \"shipment_info\": {\n            \"id\": 456652061\n        },\n        \"tracking_id\": 494235601,\n        \"security_key\": \"35aae392-5009-436a-b29b-7ddb2db518ab\"\n    }\n}"
                  },
                  "Inactive/Non-existent Account or Courier Partner ID": {
                    "value": "{\n    \"meta\": {\n        \"status\": 351,\n        \"message\": \"Clickpost Account: Does not exist\",\n        \"success\": false\n    }\n}"
                  },
                  "Already Registered AWB": {
                    "value": "{\n    \"meta\": {\n        \"status\": 303,\n        \"message\": \"Waybill already registered\",\n        \"success\": false\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Newly Registered AWB",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 200,
                              "default": 0
                            },
                            "message": {
                              "type": "string",
                              "example": "SUCCESS"
                            },
                            "success": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            }
                          }
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "consumer_details": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 475565855,
                                  "default": 0
                                }
                              }
                            },
                            "shipment_info": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 456652061,
                                  "default": 0
                                }
                              }
                            },
                            "tracking_id": {
                              "type": "integer",
                              "example": 494235601,
                              "default": 0
                            },
                            "security_key": {
                              "type": "string",
                              "example": "35aae392-5009-436a-b29b-7ddb2db518ab"
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Inactive/Non-existent Account or Courier Partner ID",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 351,
                              "default": 0
                            },
                            "message": {
                              "type": "string",
                              "example": "Clickpost Account: Does not exist"
                            },
                            "success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Already Registered AWB",
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "example": 303,
                              "default": 0
                            },
                            "message": {
                              "type": "string",
                              "example": "Waybill already registered"
                            },
                            "success": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/fetch-accounts?": {
      "get": {
        "summary": "Fetch Accounts from Clickpost",
        "description": "With help of this API enterprises can get all the carrier partner accounts that are currently active on their Clickpost dashboard. This API would be useful if the enterprise is not using Clickpost's allocation rules and just require the active list of accounts to assign the carrier manually",
        "operationId": "fetch-accounts-from-clickpost-1",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API key given to enterprise by the clickpost onboarding team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Whether enterprise wants to fetch all active courier partner accounts or not",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
[...]
